@{
    ViewBag.Title = "Bakery Management System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bakery Admin Panel</h2>

<h2>Category Mangement</h2>

<a class="btn btn-outline-warning" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddOrEdit","Category")')"><i class="fa fa-plus"></i> Add New Categories</a>
<table id="categoryTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>cc Name</th>
            <th>Image</th>
            <th>Date Created</th>
            <th>Shown</th>
            <th>Created By</th>
            <th>Editing</th>
        </tr>
    </thead>
</table>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>



<script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#categoryTable").DataTable({
                "ajax": {
                    "url": "/Category/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" },
                    { "data": "Id", "render": function (data) { return '<img style="width:70px;height:70px;" src="' + "/Home/getImage/" + data + '" />'; } },
                    { "data": "add_date", type: 'date-dd-mmm-yyyy', targets: 0 },
                    { "data": "publish", "render": function (data) { return data == true ? 'Yes' : 'No' } },
                    { "data": "insert_by" },
                    {"data":"Id" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Category")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": true,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {
                    "emptyTable": "No data found, Please click on <b>Add New</b> Button",
                    "processing": "<img src='~/Images/Loading.gif'>"
                }
            });
        });
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: false,
                    title: 'Fill Items Details',
                    height: 350,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }

                });
            });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type : "POST",
                    url : form.action,
                    data : $(form).serialize(),
                    success : function (data) {
                        if(data.success)
                        {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message,{
                                globalPosition :"top center",
                                className : "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if(confirm('Are You Sure to Delete this Items Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Category")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
</script>
