@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul.a {
        list-style-type: circle;      
        background-color: transparent !important;
        color: white !important;
    }

    li.b {
        list-style-type: square !important;
        background-color: transparent !important;
        color: white !important;
    }
</style>
<style>
    li.a {
        color: none
    }
</style>

<h2>About Us</h2>

<h3>History Of Bake Bakery</h3>

<p>
    In 1996, Bake Bakery opened its first location on a quiet street corner in the heart of New York City’s West Village. From its inception, Magnolia Bakery has been cherished for its classic American baked goods, vintage decor and warm, inviting atmosphere.
    In 2007, Bake Bakery’s original owner passed her oven mitts to Steve and Tyra Abrams. Together, the Abrams’ have thoughtfully expanded the bakery from its first West Village shop to locations worldwide. Today, Magnolia Bakery can be found in New York City, Los Angeles, Chicago, Boston, Washington, D.C., Mexico City, Seoul, Dubai, Riyadh, Amman, Abu Dhabi, Manila and Doha.We specialize in the production of buns, pastries, cakes, cookies and mooncakes. Our products are known for their distinctive quality and taste. Using only the freshest natural ingredients concocted using traditional recipes and stringent quality control, our products are not only wholesomely nutritious but also of consistent quality, with value for money. Hence our tagline, "Traditional Goodness You Can Taste".
</p>
<h4>Meet Our Team</h4>

<ul class="a">
    <li class="b">Owner: Mr.Hopkins</li>
    <li class="b">Head Manager:Hello Darkness</li>
    <li class="b">Head Branch Manager:My Old Friend</li>
    <li class="b">Chief Baking Officer:Bobbie Lloyd</li>

</ul>



