@{
    ViewBag.Title = "Customer Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contact Us</h2>

<h3>Find Us Here</h3>

<p>
    Find us here

    Address:
    7A, Jalan Telawi 2,
    Bangsar Baru,
    59100 Kuala Lumpur

    Phone:
    03-223402 2868

    Facebook:
    Jampeanut Butter

    Email:
    hellodarkness@myoldfriend.com

    Opening hours:
    Monday: Closed
    Tuesday - Friday: 1100 - 1900
    Saturday -Sunday: 1100 - 2000
    For public holidays, please check our facebook page for updates
</p>
<h4>Join our team!</h4>

<p>
    Positions available:

    1) Part-time front of house
    We are looking for friendly, intelligent and dedicated individuals to join our front of house team!

    Please send your CV to iwanttowork@myoldfriend.com
</p>
<h5>Location</h5>
<img src="pathtofile">