@{
    ViewBag.Title = "Home Page";
}
<br>
<br>
<script>
    $(document).ready(function () {
        
        $.get("/Category/GetData", function (response)
        {
            alert(response);
        });
    });
    </script>
<div id="myCarousel">

    <!-- start banner Area -->
    
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex justify-content-center align-items-center">
                <div class="banner-content col-lg-10 col-md-12 justify-content-center">
                    <h6 class="text-uppercase">Whenever we bake, bake with our heart</h6>
                    <h1>
                        Love with baking items
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h6 class="text-uppercase">Brand new app to blow your mind</h6>
                    <h1>
                        We’ve baked every item
                        from the core of our heart to serve you
                    </h1>
                    <p>
                        <span>We are here to listen from you deliver exellence by any means</span>
                    </p>                                 
                </div>
            </div>
        </div>
        <img class="about-img" src="~/Images/about-img.png" alt="">
    </section>
    <!-- End home-about Area -->
    <!-- Start item-category Area -->
    <section class="item-category-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-80 header-text text-center">
                    <h1 class="pb-10">Category of available items</h1>
                    <p>
                        They are grilling celebrities in their own right.
                    </p>
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-item">
                        <div class="thumb">
                            
                        </div>
                        <a href="#"><h4>Pizza</h4></a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-item">
                        <div class="thumb">
                           @*<img class="img-fluid" src="img/c2.jpg" alt="">*@
                        </div>
                        <a href="#"><h4>Bread</h4></a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-item">
                        <div class="thumb">
                            @*<img class="img-fluid" src="img/c3.jpg" alt="">*@
                        </div>
                        <a href="#"><h4>Burgers</h4></a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-cat-item">
                        <div class="thumb">
                            @*<img class="img-fluid" src="img/c4.jpg" alt="">*@
                        </div>
                        <a href="#"><h4>Chicken</h4></a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be.
                        </p>
                    </div>
                </div>
                <a class="primary-btn mx-auto mt-80" href="#">View Full Menu</a>
            </div>
        </div>
    </section>

</div>