@{
    ViewBag.Title = "Home Page";
}

<br>
<br>
<style>
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


        .popup .popuptext {
            visibility: hidden;
            width: 160px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 8px 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -80px;
        }


            .popup .popuptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

        .popup .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }
    }
</style>
<script>
    $(document).ready(function () {

        $.get("/Category/GetData", function (response)
        {
            var text = '';
            for (var i = 0; i < response.data.length; i++) {

                text += '<div class="col-lg-3 col-md-6"><div class="single-cat-item"><div class="thumb"> <img style="width:100px;height:100px;" class="img-fluid" src="' + '/Home/getImage/' + response.data[i].Id + '" alt=""></div><a href="/Items/ShowItems/' + response.data[i].Id + '"><h4>' + response.data[i].name + '</h4></a></div></div>';
            }
            $('#Category').html(text);
        });
        if ('@Session["Message"]' != null && '@Session["Message"]' != '') {
            var popup = document.getElementById("myPopup");
            $('#myPopup').text('@Session["Message"]');
            popup.classList.toggle("show");
            setTimeout(function () {$.post('/Home/ClearMessage'); }, 1000);
            
        }

    });
</script>
<div class="popup" style="align-self:center">
    <span class="popuptext" id="myPopup">A Simple Popup!</span>
</div>
<div id="myCarousel">

    <!-- start banner Area -->

    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container" style="text-align:center">
            <div class="row fullscreen d-flex justify-content-center align-items-center">
                <div class="banner-content col-lg-10 col-md-12 align-content-lg-center">
                    <h6 class="text-uppercase">Whenever we bake, bake with our heart</h6>
                    <h2>
                        Love with baking items
                    </h2>
                    <h2>
                        We’ve baked every item  from the<br /> core of our heart to serve you
                    </h2>
                    
                </div>
            </div>           
        </div>
    </section>
    <!-- End banner Area -->
    <div id="homeImag" style="width:100%">
     
          </div>
    <section class="item-category-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-80 header-text text-center">
                    <h3 class="pb-10">Category of available items</h3>
                    <br />

                </div>
            </div>
            <div id="Category" class="row">
            </div>
            <a class="primary-btn mx-auto mt-80" href="/Items/ShowItems/0">View Full Menu</a>
        </div>
    </section>

</div>