.field-validation-error {
        color: #e80c4d;
        font-weight: bold;
    }


    input.input-validation-error {
        border: 1px solid #e80c4d;
    }
body {
    background-image: url('../Images/ABC.jpg');
    background-repeat: no-repeat;
    
    background-size: cover;
    background-color: #cccccc;
}
div{color:white
}
td {
    color: white;
    
}
th {
    color: white
}
tr {
    color: white;
}
h4 {color:white}
a:link{color: white}
i{
    color: white;
}
li{color:black;    background-color: black;
    border-color: black;
}
table {
    border-width:2px;
}
.dataTables_paginate {
    width: 100%;
    text-align: center;
}